# Stripe


# Price IDs (créalos en el Dashboard de Stripe)
PRICE_GHOST=price_1TN6LtDQwC5lmxF9JjBrbJyD
PRICE_DRAGON=price_1TN6NsDQwC5lmxF90P99ayBl
PRICE_NINJA=price_1TN6OCDQwC5lmxF9MMXdXrZD
PRICE_WITCH=price_1TN6OXDQwC5lmxF9XZoyo47J
PRICE_ROBOT=price_1TN6P0DQwC5lmxF9Qi1L8SyQ
PRICE_PETPASS_MONTH=price_1TN6PjDQwC5lmxF9w6AtIfQZ
PRICE_PETPASS_YEAR=price_1TN6QADQwC5lmxF9wjKRxJQd

# URL pública de tu servidor (Railway te la da)
APP_URL=https://robust-passion-production.up.railway.app
PORT=3000
